#root {
  background-color: #212529;
}

.app {
  background-color: #212529;
  color: white;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
  .header-logo-wink {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: left;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    opacity: 0.6;
    margin: 2%;
  }
}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
  .header-logo-wink {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: left;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    opacity: 0.6;
    margin: 2%;
  }
}
